<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Inventario</title>


    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
            crossorigin="anonymous"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/general-admin.html ::admin-sidebar(param1='Inventario',param2='...')"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/general-admin.html :: topbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Inventario</h1>
                <br>
                <!--
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For
                    more information about DataTables, please visit the <a target="_blank"
                                                                           href="https://datatables.net">official
                        DataTables documentation</a>.</p>
                    -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th rowspan="2">Nº Pedido</th>
                                    <th rowspan="2">Código</th>
                                    <th colspan="2">Producto</th>
                                    <th colspan="5">Info del Producto</th>
                                    <th colspan="2">Costo</th>

                                    <th rowspan="2">Cantidad Total</th>

                                    <th rowspan="2">Tipo</th>
                                    <th rowspan="2">Fecha de inicio (consignación)</th>
                                    <th rowspan="2">Fecha de vencimiento (consignación)</th>
                                    <th rowspan="2">Facilitador</th>
                                    <th rowspan="2">Artesano</th>
                                    <th rowspan="2">Foto</th>

                                    <th rowspan="2">Fecha de registro</th>
                                    <th rowspan="2">Última modificación</th>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>

                                    <th>Linea</th>
                                    <th>Categoría</th>
                                    <th>Comunidad</th>
                                    <th>Tamaño</th>
                                    <th>Color</th>

                                    <th>Tejedor (S/.)</th>
                                    <th>Mosqoy (S/.)</th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nº Pedido</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Linea</th>
                                    <th>Categoría</th>
                                    <th>Comunidad</th>
                                    <th>Tamaño</th>
                                    <th>Color</th>
                                    <th>Costo tejedor(S/.)</th>
                                    <th>Costo Mosqoy(S/.)</th>


                                    <th>Cantidad Total</th>

                                    <th>Tipo</th>
                                    <th>Fecha de inicio (consignación)</th>
                                    <th>Fecha de vencimiento (consignación)</th>
                                    <th>Facilitador</th>
                                    <th>Artesano</th>
                                    <th>Foto</th>

                                    <th>Fecha de registro</th>
                                    <th>Última modificación</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="inv : ${listaInv}">
                                    <td th:text="${inv.numpedido}">#########</td>
                                    <td th:text="${inv.codigoinventario}">ABDCEFGHI</td>
                                    <td th:text="${inv.productos.nombre}">Lliklla</td>
                                    <td th:text="${inv.productos.descripcion}">Blanket/Manta</td>
                                    <td th:text="${inv.productos.getNombreLinea()}">Tradicional</td>
                                    <td th:text="${inv.categorias.nombre}">Home</td>
                                    <td th:text="${inv.comunidades.nombre}">Amaru</td>
                                    <td th:text="${inv.tamanho}">One-Size</td>
                                    <td th:text="${inv.color}">Rojo</td>
                                    <td th:text="${inv.costotejedor}">10</td>
                                    <td th:text="${inv.costomosqoy}">20</td>

                                    <td th:text="${inv.cantidadtotal}">25</td>

                                    <td th:text="${inv.tipoadquisicion}">Consignado</td>
                                    <td th:text="${inv.fechainicioconsignacion!=null? inv.fechainicioconsignacion : '---'}">FEB, 20</td>
                                    <td th:text="${inv.fechavencimientoconsignacion!=null? inv.fechavencimientoconsignacion : '---'}">FEB, 20</td>
                                    <td th:text="${inv.facilitador}">Sam Sammie</td>
                                    <td th:text="${inv.artesanos!=null? inv.artesanos.nombre +' ' + inv.artesanos.apellidopaterno : '---' }" >Angela Ccana</td>
                                    <td><img
                                            th:src="${inv.foto}"
                                            alt="" height=100 width=100></td>

                                    <td th:text="${inv.fechacreacion}">Sam Sammie</td>
                                    <td th:text="${inv.fechamodificacion!=null? inv.fechamodificacion : '---'}">Sam Sammie</td>
                                </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/general-admin.html :: footer"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/general-admin.html :: logout-modal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>
