<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general-sede.html ::sede-head(title='Productos Asignados a Tiendas ')">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="fragments/general-sede.html ::sede-sidebar(param1='Tiendas',param2='Asignado a tienda')"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div th:replace="fragments/general-sede.html :: topbar"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-900">Productos Asignados a Tiendas </h1>
                    </div>

                    <div  th:if="${msg != null}" th:text="${msg}" class="alert alert-success py-1" role="alert"></div>
                    <div id="msgAsigTiendas" th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger py-1" role="alert"></div>

                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0" >
                                    <thead>
                                    <tr>
                                        <th>Tienda</th>
                                        <th>Nombre del producto</th>
                                        <th>Color</th>
                                        <th>Tamaño</th>
                                        <th>Fecha de asignación</th>
                                        <th>Precio de venta (Dolar)</th>
                                        <th>Cantidad</th>
                                        <th>Registrar venta</th>
                                        <th>Devolución</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Tienda</th>
                                        <th>Nombre del producto</th>
                                        <th>Color</th>
                                        <th>Tamaño</th>
                                        <th>Fecha de asignación</th>
                                        <th>Precio de venta (Dolar)</th>
                                        <th>Cantidad</th>
                                        <th>Registrar venta</th>
                                        <th>Devolución</th>
                                    </tr>
                                    </tfoot>

                                    <tbody>
                                    <tr th:each="a : ${asignados}">
                                        <td th:text="${a.tienda.nombre}"></td>
                                        <td th:text="${a.asignadosSedes.id.productoinventario.productos.nombre}"></td>
                                        <td th:text="${a.asignadosSedes.id.productoinventario.color}"></td>
                                        <td th:text="${a.asignadosSedes.id.productoinventario.tamanho}"></td>
                                        <td th:text="${a.fechaasignacion}"></td>
                                        <td th:text="${a.asignadosSedes.id.precioventa}"></td>
                                        <td th:text="${a.stock}"></td>
                                        <td>
                                            <button th:attr="data-id1= ${a.idtiendas}"
                                                    data-toggle="modal" data-target="#registrarModal"
                                                    class="registar-Venta btn btn-datatable btn btn-success">
                                                <i class="fas fa-dollar-sign"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button th:attr="data-id2= ${a.idtiendas}"
                                                    data-toggle="modal" data-target="#devolucionModal"
                                                    class="retornar-Producto btn btn-datatable btn btn-danger">
                                                <i class="fas fa-undo-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <div th:replace="fragments/general-sede.html :: footer"></div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments/general-sede.html :: logout-modal"></div>
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/sede/asignadoTiendas.js}"></script>
    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>


    <!-- Modal Registrar Venta -->
    <div id="registrarModal" class="modal fade" role="dialog" aria-labelledby="registrarModal">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar venta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>


                <div class="modal-body">
                    <form method="post" th:action="@{AsignadoTienda/registrar}" th:object="${ventas}">

                        <input hidden id="id1" name ="id1" type="text" class="form-control">

                        <input hidden type="text" class="form-control" th:field="*{rucdni}">
                        <input hidden type="text" class="form-control" th:field="*{nombrecliente}">
                        <input hidden type="text" class="form-control" th:field="*{lugarventa}">
                        <input hidden id="codigoinventario" type="text" class="form-control" th:field="*{inventario.codigoinventario}">
                        <input hidden type="text" class="form-control" th:field="*{precioventa}">
                        <input hidden id="vendedor" type="text" class="form-control" th:field="*{vendedor.idusuarios}">

                        <div class="form-group">
                            <label class="col-form-label">Cantidad</label>
                            <input type="text" class="form-control" th:field="*{cantidad}">
                            <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Error</div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Tipo de documento</label>
                            <select class="form-control" th:field="*{id.tipodocumento}">
                                <option value="1">Factura</option>
                                <option value="2">Boleta</option>
                                <option value="3">Recibo</option>
                                <option value="4">Transacción</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Número de documento</label>
                            <input id="numerodocumento" type="text" class="form-control" th:field="*{id.numerodocumento}">
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success"><a style="color:white;text-decoration:none">Registrar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Devolucion Tienda -->
    <div id="devolucionModal" class="modal fade" role="dialog" aria-labelledby="registrarModal">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Devolución de productos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <form method="get" th:action="@{AsignadoTienda/devolucion}">
                        <input id="id2" name ="id2" type="text" class="form-control">

                        <div class="form-group">
                            <label class="col-form-label">Cantidad retornada</label>
                            <input type="text" class="form-control" id="cant" name="cant">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success"><a style="color:white;text-decoration:none">Registrar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
