<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general-sede.html ::sede-head(title='Lista de productos confirmados')">
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div th:replace="fragments/general-sede.html ::sede-sidebar(param1='Productos',param2='ListaProductosConfirmados')"></div>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <div th:replace="fragments/general-sede.html :: topbar"></div>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Lista de productos confirmados</h1>
                        </div>

                        <!-- Page Heading -->
                        <div id="msgVenta" th:if="${msgError != null}" th:text="${msgError}"
                             class="alert alert-danger py-1" role="alert"></div>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <!--div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Lista de productos confirmados</h6>
                            </div-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Color</th>
                                                <th>Tamaño</th>
                                                <th>Comunidad</th>
                                                <th>Precio de venta (Soles)</th>
                                                <th>Stock total</th>
                                                <th>Stock (productos no asignados a una tienda)</th>
                                                <th>Fecha de asignacion</th>
                                                <th>Foto</th>
                                                <th>Asignar a una tienda</th>
                                                <th>Registrar venta</th>
                                                <th>Devolver producto al Gestor</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Color</th>
                                                <th>Tamaño</th>
                                                <th>Comunidad</th>
                                                <th>Precio de venta (Soles)</th>
                                                <th>Stock total</th>
                                                <th>Stock (productos no asignados a una tienda)</th>
                                                <th>Fecha de asignacion</th>
                                                <th>Foto</th>
                                                <th>Asignar a una tienda</th>
                                                <th>Registrar venta</th>
                                                <th>Devolver producto al Gestor</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>

                                            <tr th:if="${prodConfirm.getId().estadoasignacion==2}"
                                                th:each="prodConfirm, i : ${listaProductosConfirmados}">
                                                <td th:text="${i.index + 1}">1</td>
                                                <td th:text="${prodConfirm.id.productoinventario.codigoinventario}"></td>
                                                <td th:text="${prodConfirm.id.productoinventario.productos.nombre}"></td>
                                                <td th:text="${prodConfirm.id.productoinventario.color}"></td>
                                                <td th:text="${prodConfirm.id.productoinventario.tamanho}"></td>
                                                <td th:text="${prodConfirm.id.productoinventario.comunidades.nombre}"></td>
                                                <td th:text="${prodConfirm.id.precioventa}"></td>
                                                <td th:text="${prodConfirm.stock}"></td>
                                                <td th:text="${prodConfirm.cantidadactual}"></td>
                                                <td th:text="${prodConfirm.fechaenvio}"></td>
                                                <td>
                                                    <div class="progress mx-auto" style="height: 100px;width: 100px;">
                                                        <img class="mx-auto my-auto mh-100 img-fluid"
                                                             th:src="${prodConfirm.id.productoinventario.foto}"
                                                             alt="">
                                                    </div>
                                                </td>
                                                <td>
                                                    <button th:attr="data-id1=${prodConfirm.id.gestor.idusuarios}, data-id2=${prodConfirm.id.sede.idusuarios},
                                                     data-id3=${prodConfirm.id.productoinventario.codigoinventario},
                                                    data-id4=${prodConfirm.id.estadoasignacion}, data-id5=${prodConfirm.id.precioventa}"
                                                            type="button" class="asign-A-Tienda btn btn-warning"
                                                            data-toggle="modal" data-target="#AsignarProductoModal"><i
                                                            class="fas fa-store"></i></button>
                                                </td>
                                                <td>
                                                    <button th:attr="data-id12=${prodConfirm.id.gestor.idusuarios}, data-id22=${prodConfirm.id.sede.idusuarios},
                                                    data-id32=${prodConfirm.id.productoinventario.codigoinventario},
                                                    data-id42=${prodConfirm.id.estadoasignacion}, data-id52=${prodConfirm.id.precioventa}"
                                                            type="button" class="regis-Venta btn btn-success"
                                                            data-toggle="modal" data-target="#registrarVentaModal"
                                                            data-whatever="@mdo"><i class="fas fa-dollar-sign"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger"><i
                                                            class="fas fa-undo-alt"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <div th:replace="fragments/general-sede.html :: footer"></div>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div th:replace="fragments/general-sede.html :: logout-modal"></div>

        <div class="modal fade" id="registrarVentaModal" tabindex="-1" role="dialog"
             aria-labelledby="registrarVentaModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrarVentaModalLabel">Registrar venta de un producto</h5>
                        <button type="button" th:href="@{/sede/productosConfirmados}" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/sede/registrarVenta}" th:object="${venta}">

                            <div th:if="${msgBoleta != null}" th:text="${msgBoleta}" class="alert alert-danger py-1"
                                 role="alert"></div>

                            <input type="hidden" class="form-control" id="idgestor" name="idgestor">
                            <input type="hidden" class="form-control" id="idestadoasign" name="idestadoasign">
                            <input type="hidden" class="form-control" id="idprecioventa" name="idprecioventa">
                            <input type="hidden" class="form-control" id="idsede" name="vendedor"
                                   th:value="${venta.vendedor}">
                            <input type="hidden" class="form-control" id="idproductoinvinput" name="inventario"
                                   th:value="${venta.inventario}">

                            <label>Codigo del producto: <span><b id="idproductoinvlabel" name="inventario" th:value="${venta.inventario}"></b></span></label>

                            <div class="form-group">
                                <label class="col-form-label">Nombre del cliente:</label>
                                <input type="text" class="form-control" th:field="*{nombrecliente}">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombrecliente')}"
                                     th:errors="*{nombrecliente}">Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Tipo de Documento:</label>
                                <select class="form-control" th:field="*{id.tipodocumento}">
                                    <option value="1">Factura</option>
                                    <option value="2">Boleta</option>
                                    <option value="3">Recibo</option>
                                    <option value="4">Transacción</option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('id.tipodocumento')}"
                                     th:errors="*{id.tipodocumento}">Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Numero de documento:</label>
                                <input type="text" class="form-control" th:field="*{id.numerodocumento}">
                                <div class="text-danger" th:if="${#fields.hasErrors('id.numerodocumento')}"
                                     th:errors="*{id.numerodocumento}">Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Fecha de venta:</label>
                                <input type="date" class="form-control" th:field="*{fecha}">
                                <div class="text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Lugar de venta:</label>
                                <input type="text" class="form-control" th:field="*{lugarventa}">
                                <div class="text-danger" th:if="${#fields.hasErrors('lugarventa')}"
                                     th:errors="*{lugarventa}">Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">RUC/DNI(Opcional):</label>
                                <input type="text" class="form-control" th:field="*{rucdni}">
                                <div class="text-danger" th:if="${#fields.hasErrors('rucdni')}" th:errors="*{rucdni}">
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Precio de venta:</label>
                                <input type="text" class="form-control" th:field="*{precioventa}">
                                <div class="text-danger" th:if="${#fields.hasErrors('precioventa')}"
                                     th:errors="*{precioventa}">Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Cantidad:</label>
                                <input type="text" class="form-control" th:field="*{cantidad}">
                                <div class="text-danger" th:if="${#fields.hasErrors('cantidad')}"
                                     th:errors="*{cantidad}">Error
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="AsignarProductoModal" tabindex="-1" role="dialog"
             aria-labelledby="AsignarProductoModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AsignarProductoModalLabel">Asignar producto a una tienda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="nombretienda" class="col-form-label">Nombre de la tienda:</label>
                                <input type="text" class="form-control" name="nombretienda" id="nombretienda">
                            </div>

                            <div class="form-group">
                                <label for="fechaasignacion">Fecha en la que se deja el producto:</label>
                                <input type="text" class="form-control" name="fechaasignacion" id="fechaasignacion">
                            </div>

                            <div class="form-group">
                                <label for="cantidad" class="col-form-label">Cantidad</label>
                                <input type="text" class="form-control" name="cantidad" id="cantidad">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Asignar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
        <script th:src="@{/js/sede/asignarATienda.js}"></script>
        <script th:src="@{/js/sede/registrarVentaSede.js}"></script>

    </body>

</html>
