<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general-sede.html ::sede-head(title='Lista de productos por confirmar')">
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div th:replace="fragments/general-sede.html ::sede-sidebar(param1='Productos',param2='ListaProductosPorConfirmar')"></div>

            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <div th:replace="fragments/general-sede.html :: topbar"></div>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Lista de productos por confirmar</h1>
                        </div>

                        <!-- Page Heading -->


                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <!--div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Lista de productos confirmados</h6>
                            </div-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Color</th>
                                                <th>Tamaño</th>
                                                <th>Comunidad</th>
                                                <th>Precio de venta (Dolar)</th>
                                                <th>Stock asignado</th>
                                                <th>Fecha de asignacion</th>
                                                <th>Foto</th>
                                                <th>Confirmar recepcion sin problemas</th>
                                                <th>Registrar un problema</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Color</th>
                                                <th>Tamaño</th>
                                                <th>Comunidad</th>
                                                <th>Precio de venta (Dolar)</th>
                                                <th>Stock asignado</th>
                                                <th>Fecha de asignacion</th>
                                                <th>Foto</th>
                                                <th>Confirmar recepcion sin problemas</th>
                                                <th>Registrar un problema</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>THLLIBLAOSHU</td>
                                                <td>Awana</td>
                                                <td>Rojo</td>
                                                <td>Small</td>
                                                <td>Amaru</td>
                                                <th>25</th>
                                                <td>200</td>
                                                <td>3/5/2020</td>
                                                <td><img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                                         alt=""  height=100 width=100></td>
                                                <td>
                                                    <button type="button" class="btn btn-success " data-toggle="modal" data-target="#confirmarRecepcionModal" data-whatever="@mdo"><i class="fas fa-check-circle"></i></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#problemaModal" data-whatever="@mdo"><i class="fas fa-times"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>MHQONRUGSHUASH19MAY</td>
                                                <td>Qespe</td>
                                                <td>Amarillo</td>
                                                <td>One Size</td>
                                                <td>Amaru</td>
                                                <th>30</th>
                                                <td>300</td>
                                                <td>3/5/2020</td>
                                                <td><img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                                         alt=""  height=100 width=100></td>
                                                <td>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmarRecepcionModal" data-whatever="@mdo"><i class="fas fa-check-circle"></i></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#problemaModal" data-whatever="@mdo"><i class="fas fa-times"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>ALQONROGSHUASH19AUG</td>
                                                <td>Lama</td>
                                                <td>Rojo</td>
                                                <td>Large</td>
                                                <td>Amaru</td>
                                                <th>57</th>
                                                <td>190</td>
                                                <td>3/5/2020</td>
                                                <td><img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                                         alt=""  height=100 width=100></td>
                                                <td>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmarRecepcionModal" data-whatever="@mdo"><i class="fas fa-check-circle"></i></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#problemaModal" data-whatever="@mdo"><i class="fas fa-times"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <div th:replace="fragments/general-sede.html :: footer"></div>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div th:replace="fragments/general-sede.html :: logout-modal"></div>

        <div class="modal fade" id="confirmarRecepcionModal" tabindex="-1"
             role="dialog" aria-labelledby="confirmarRecepcionModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">¿Esta
                            seguro que desea confirmar la recepcion del
                            producto?</h4>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h6><b>Antes de confirmar, se recomienda
                                verificar
                                todos los datos del producto</b></h6></br>
                            <h6>Codigo: THLLIBLAOSHU</h6>
                            <h6>Nombre: Awana</h6>
                            <h6>Color: Rojo</h6>
                            <h6>Tamaño: Small</h6>
                            <h6>Comunidad: Amaru</h6>
                            <h6>Stock asignado: 200</h6>
                            <h6>Foto: </h6>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">Cancelar
                        </button>
                        <a type="button" class="btn btn-primary"
                           href="ListaProductosPorConfirmar">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="modal fade" id="problemaModal" tabindex="-1"
                 role="dialog" aria-labelledby="problemaModal"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel2">
                                <b>Descripcion del problema:</b></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <a type="button" class="btn btn-primary" href="ListaProductosPorConfirmar">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>

    </body>

</html>
