<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/general-sede.html ::sede-head(title='Lista de ventas por cliente')">
    </head>

    <body id="page-top">

    <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div th:replace="fragments/general-sede.html ::sede-sidebar(param1='Ventas',param2='VentasPorCliente')"></div>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <div th:replace="fragments/general-sede.html :: topbar"></div>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-900">Lista de ventas por cliente</h1>
                        </div>
                        <!-- Page Heading -->

                        <div class="card shadow mb-4">

                            <div class="card-body">
                                <div class="table-responsive" >
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0" >
                                        <thead>
                                            <tr>
                                                <th>Nombre del cliente</th>
                                                <th>Tipo de documento</th>
                                                <th>N° de documento</th>
                                                <th>Fecha de venta</th>
                                                <th>Lugar de venta</th>
                                                <th>RUC/DNI</th>
                                                <th>Código del producto</th>
                                                <th>Nombre del producto</th>
                                                <th>Tamaño</th>
                                                <th>Color</th>
                                                <th>Precio de venta (Dolar)</th>
                                                <th>Cantidad</th>
                                                <th>Precio total</th>
                                                <th>Foto</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nombre del cliente</th>
                                                <th>Tipo de documento</th>
                                                <th>N° de documento</th>
                                                <th>Fecha de venta</th>
                                                <th>Lugar de venta</th>
                                                <th>RUC/DNI</th>
                                                <th>Código del producto</th>
                                                <th>Nombre del producto</th>
                                                <th>Tamaño</th>
                                                <th>Color</th>
                                                <th>Precio de venta (Dolar)</th>
                                                <th>Cantidad</th>
                                                <th>Foto</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                            <tr th:each="product : ${listaVentas}">
                                                <td th:text="${product.nombrecliente}"></td>
                                                <td th:text="${product.id.tipodocumento}"></td>
                                                <td th:text="${product.id.numerodocumento}"></td>
                                                <td th:text="${product.fecha}"></td>
                                                <td th:text="${product.lugarventa}"></td>
                                                <td th:text="${product.rucdni}"></td>
                                                <td th:text="${product.inventario.codigoinventario}"></td>
                                                <td th:text="${product.inventario.productos.nombre}"></td>
                                                <td th:text="${product.inventario.tamanho}"></td>
                                                <td th:text="${product.inventario.color}"></td>
                                                <td th:text="${product.precioventa}"></td>
                                                <td th:text="${product.cantidad}"></td>
                                                <td th:text="${product.cantidad * product.precioventa}"></td>
                                                <td><img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                                         height=100 style="width: auto" >
                                                </td>
                                                <td>
                                                    <button th:attr="data-id1=${product.id.numerodocumento}, data-id2=${product.id.tipodocumento}"
                                                            data-toggle="modal" data-target="#deleteModal"
                                                            class="borrar-VentasCliente btn btn-datatable btn-icon btn-danger">Borrar</button></td>
                                                <!--th:src="${product.fotoproducto}"-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <div th:replace="fragments/general-sede.html :: footer"></div>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>



        <!-- Logout Modal-->
        <div th:replace="fragments/general-sede.html :: logout-modal"></div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/chart-area-demo.js}"></script>
        <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
        <script th:src="@{/js/sede/ventasCliente.js}"></script>

        <!-- Modal Delete -->
        <div id="deleteModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar venta</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <form method="get" th:action="@{ventasCliente/borrar}">
                        <div class="modal-body">
                            <input hidden type="text" class="form-control" id="id1" name="id1">
                            <input hidden type="text" class="form-control" id="id2" name="id2">
                            <p>¿Seguro que desea eliminar esta venta? Esta acción no se puede deshacer.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger"><a style="color:white;text-decoration:none">Borrar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>
