<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="sede-head(title)">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon"
              th:href="@{/img/colibriSede.png}" >
        <title th:text="${title}"></title>
        
        <!-- Custom fonts for this template-->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        
        <!-- Custom styles for this template-->
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
        <!-- Custom styles for this page -->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
        <link th:href="@{/css/mosqoy.css}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
                crossorigin="anonymous"></script>
        <style>
            #content-wrapper {
                background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.46)), fixed no-repeat center url(https://cdn.pixabay.com/photo/2013/08/20/15/47/sunset-174276_960_720.jpg);
                background-size: cover;
            }
        </style>
    </head>
    <body>
        
        <!-- Topbar -->
        <nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-top topbar mb-4 static-top shadow">
            
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" style="color: #2b1b1bcc;" class=" btn btn-link d-md-none rounded-circle">
                <i class="fa fa-bars"></i>
            </button>
            <div class="ml-3  font-weight-bold " style="font-size: 1.1rem;font-style: italic;color: #2b1b1bcc;">Usuario Sede</div>
            
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                
                
                
                
                <div th:replace="fragments/notification.html :: notification-center"></div>
                
                
                <div class="topbar-divider d-none d-sm-block"></div>
                
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-lg-inline font-weight-bold "
                              style="font-size: 0.9rem;color: #2b1b1bcc;"
                              th:text="${session.usuario.getFullname()}"></span>
                        <img th:if="session.usuario.foto!=''" class="img-profile rounded-circle"
                             th:src="${session.usuario.foto}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
            
            </ul>
        
        </nav>
        <!-- End of Topbar -->
        
        <!-- Footer -->
        <footer th:fragment="footer" class="sticky-footer bg-top">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <em><small><span>@Software para telecomunicaciones 2 &copy; Mosqoy - 2020</span></small></em>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
        
        
        <!-- Sidebar -->
        <ul th:fragment="sede-sidebar(param1,param2)"
            class="navbar-nav bg-gradient-sede sidebar sidebar-dark accordion" id="accordionSidebar">
            
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <i class="fas"> <img style="width: 88%;height: 88%;" th:src="@{/img/colibriiiii.png}" alt="."></i>
                <div class="sidebar-brand-text ml-0"><img style="width: 103%;height: 103%;" th:src="@{/img/mosqLOGO-min.png}" alt="."></div>
            </a>
            
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            
            <!-- Nav Item - Dashboard
            <li class="nav-item " th:classappend="${param1=='Dashboard'}? active : ''">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>-->
            
            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <!-- Heading -->
            <div class="sidebar-heading">
                Listas
            </div>
            
            <!-- Nav Item - Productos -->
            <li class="nav-item" th:classappend="${param1=='Productos'}? active : ''">
                <a class="nav-link" th:classappend="${param1=='Productos'}? '': collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseInv" aria-expanded="true" aria-controls="collapseInv">
                    <i class="fas fa-fw fa-box-open"></i>
                    <span>Productos</span>
                </a>
                <div id="collapseInv" class="collapse" th:classappend="${param1=='Productos'}?  show : ''"
                     aria-labelledby="headingInv" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:classappend="${param2=='ListaProductosConfirmados'}?  active : ''"
                           th:href="@{/sede/productosConfirmados}">Productos confirmados</a>
                        <a class="collapse-item" th:classappend="${param2=='ListaProductosPorConfirmar'}?  active : ''"
                           th:href="@{/sede/productosPorConfirmar}">Productos por confirmar</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Ventas -->
            <li class="nav-item" th:classappend="${param1=='Ventas'}? active : ''">
                <a class="nav-link" th:classappend="${param1=='Ventas'}? '': collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseInv2" aria-expanded="true" aria-controls="collapseInv">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Ventas</span>
                </a>
                <div id="collapseInv2" class="collapse" th:classappend="${param1=='Ventas'}?  show : ''"
                     aria-labelledby="headingInv" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:classappend="${param2=='VentasPorProducto'}?  active : ''"
                           th:href="@{/sede/ventasProducto}">Ventas por producto</a>
                        <a class="collapse-item" th:classappend="${param2=='VentasPorCliente'}?  active : ''"
                           th:href="@{/sede/ventasCliente}">Ventas por cliente</a>
                    
                    </div>
                </div>
            </li>
            
            
            <!-- Nav Item - Ventas -->
            <li class="nav-item" th:classappend="${param1=='Tiendas'}? active : ''">
                <a class="nav-link" th:classappend="${param1=='Tiendas'}? '': collapsed" href="#"
                   data-toggle="collapse" data-target="#collapseInv3" aria-expanded="true" aria-controls="collapseInv">
                    <i class="fas fa-store"></i>
                    <span>Tiendas</span>
                </a>
                <div id="collapseInv3" class="collapse" th:classappend="${param1=='Tiendas'}?  show : ''"
                     aria-labelledby="headingInv" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:classappend="${param2=='Asignado a tienda'}?  active : ''"
                           th:href="@{/sede/AsignadoTienda}">Asignado a tienda</a>
                        <a class="collapse-item" th:classappend="${param2=='Lista de tiendas'}?  active : ''"
                           th:href="@{/sede/tienda}">Lista de tiendas</a>
                    
                    </div>
                </div>
            </li>
            
            
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Reportes -->
            <li class="nav-item" th:classappend="${param1=='Reportes'}? active : ''">
                <a class="nav-link"  th:href="@{/sede/reportes}">
                    <i class="fas fa-fw fa-file-download"></i>
                    <span>Reportes</span></a>
            </li>
            
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            
            
            <!-- Heading -->
            
            <!-- Divider -->
            
            
            <!-- Sidebar Toggler (Sidebar) -->
        
        
        </ul>
        <!-- End of Sidebar -->
        
        
        <!--Logout Modal -->
        <div th:fragment="logout-modal" class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form th:action="@{/logout}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seleccione "Cerrar sesión" si está listo para cerrar su sesión actual.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-info">Cerrar sesión</button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    
    
    </body>
</html>