th, .d-sm-inline-block {
    white-space: nowrap;
}

#showFoto .modal-content {
    width: 150%;
}

#content-wrapper {
    background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.46)), fixed no-repeat url(https://cdn.pixabay.com/photo/2016/11/19/15/38/craftsman-1839920_960_720.jpg);
    background-size: cover;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #515785;
}

.card {
    font-size: .78rem;
}

.h3 {
    font-weight: bold ;
}

p {
    font-size: .9rem;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #211b1b ;
    font-weight: 800 ;
}

.btn {
    padding: .3rem 0.6rem ;
    font-size: .8rem ;
}

thead, tfoot {
    background-color: #5b5b5be6;
    color: #ffffff;
    position: sticky;
}

.bg-gradient-gestor {
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #b13c43 10%, #6b302a 100%);
    background-size: cover;
}

.bg-gestor {
    background-color: #ffffff59 ;
}
@media (min-width: 768px) {
    .sidebar .nav-item .nav-link span {
        font-size: 0.82rem ;
        display: inline ;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: .65rem ;
        display: block ;
    }

    .sidebar {
        width: 13.6rem!important ;
    }
}
.page-link {
    color: #36b9cc;
}
.page-link:hover {
    color: #2c9faf;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}