<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nueva Contraseña</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-dark mh-100" >
    <div style="position: fixed; top: 0px; width: 100%; object-position: 50% 50%; background-size: cover; background-position: center center; background-repeat: no-repeat; height: 120%;
      transform: translate3d(0px, 0px, 0px);
      background-image: url(https://static.wixstatic.com/media/61652e_edeefa4f2e424501bb4dabf1649c670d~mv2_d_5219_3479_s_4_2.jpg/v1/fill/w_1920,h_1280,al_c,q_85,usm_0.66_1.00_0.01/61652e_edeefa4f2e424501bb4dabf1649c670d~mv2_d_5219_3479_s_4_2.webp)"
    > </div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container my-auto">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5" style="background-color: rgba(255,255,255, 0.8) !important; ">
                    <div class="card-body p-5">
                        <!-- Nested Row within Card Body -->
                        <div class="container-fluid">
                            <div class="mx-auto col-md-auto">
                                <div class="p-0">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Restablezca su contraseña</h1>
                                    </div>
                                    <form class="user" method="post" th:action="@{/savenewpassword}" th:object="${usuario}">
                                        <input hidden type="text" name="token" class="form-control form-control-user" th:value="${token}">
                                        <div class="form-group" >
                                            <input type="password" th:field="*{password2}" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Ingresa una nueva contraseña...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="pass" class="form-control form-control-user" placeholder="Repetir la contraseña">
                                            <div class="text-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Error
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Guardar Contraseña
                                        </button>

                                        <footer th:fragment="footer">
                                            <div class="container my-auto">
                                                <div class="copyright text-center my-auto">
                                                    <hr>
                                                    <em><small><span>@Software para telecomunicaciones 2 &copy; Mosqoy - 2020</span></small></em>
                                                </div>
                                            </div>
                                        </footer>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>
