<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general-gestor.html ::gestor-head(title='Productos Asignados')">
    </head>
    <body id="page-top">
        
        <!-- Page Wrapper -->
        <div id="wrapper">
            
            <!-- Sidebar -->
            <div th:replace="fragments/general-gestor.html ::gestor-sidebar(param1='Asignados',param2='...')"></div>
            <!-- End of Sidebar -->
            
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                
                <!-- Main Content -->
                <div id="content">
                    
                    <div th:replace="fragments/general-gestor.html :: topbar"></div>
                    
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-900">Productos asignados a Sedes</h1>
                        </div>
                        <p class="mb-4">Aquí puedes ver el estado de los productos asignados a sedes. Para asignar un producto, revisa la lista de <a
                                href="/gestor/productosDisponibles">productos disponibles</a>.
                        </p>
                        
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Lista de productos asignados</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Codigo del Producto</th>
                                                <th>Nombre de la Sede</th>
                                                <th>Stock</th>
                                                <th>Estado</th>
                                                <th>Cantidad vendida</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Codigo del Producto</th>
                                                <th>Nombre de la Sede</th>
                                                <th>Stock</th>
                                                <th>Estado</th>
                                                <th>Cantidad vendida</th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="asig,i:${listaAsignados}">
                                                <td th:text="${i.index+1}">1</td>
                                                <td th:text="${asig.inventario.codigoinventario}">Codigo 1</td>
                                                <td th:text="${asig.sede.nombre}">Sede 1</td>
                                                <td th:text="${asig.stock}">20</td>
                                                <td th:text="${asig.estadoAsignacion.estado}">Recibido por sede</td>
                                                <td th:text="${asig.stock - asig.cantidadactual}">20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                    
                    </div>
                    <!-- /.container-fluid -->
                
                </div>
                <!-- End of Main Content -->
                
                <div th:replace="fragments/general-gestor.html :: footer"></div>
            
            </div>
            <!-- End of Content Wrapper -->
        
        </div>
        <!-- End of Page Wrapper -->
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        
        <!-- Logout Modal-->
        <div th:replace="fragments/general-gestor.html :: logout-modal"></div>
        
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        
        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
        
        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        
        <!-- Page level plugins -->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        
        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/chart-area-demo.js}"></script>
        <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
        
        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
    
    
    </body>
</html>