<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general-gestor.html ::gestor-head(title='Categorias')">
    </head>
    <body id="page-top">
        
        <!-- Page Wrapper -->
        <div id="wrapper">
            
            <!-- Sidebar -->
            <div th:replace="fragments/general-gestor.html ::gestor-sidebar(param1='Campos',param2='Categorias')"></div>
            <!-- End of Sidebar -->
            
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                
                <!-- Main Content -->
                <div id="content">
                    
                    <div th:replace="fragments/general-gestor.html :: topbar"></div>
                    
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-900">Categorías</h1>
                            <button data-toggle="modal" data-target="#addModal" type="button"
                                    class="new-Categoria d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-th-large fa-sm text-white-50"></i> Nueva Categoría
                            </button>
                        </div>

                        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success py-1" role="alert"></div>

                        <!-- Database Table -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Lista de categorías</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Fecha de creacion</th>
                                                <th>Ultima modificacion</th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Fecha de creacion</th>
                                                <th>Ultima modificacion</th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                            <tr th:each="item : ${lista}">
                                                <td th:text="${item.codigo}"></td>
                                                <td th:text="${item.nombre}"></td>
                                                <td th:text="${item.fechacreacion.toLocalDate()}"></td>
                                                <td th:if="${item.fechamodificacion!=null}" th:text="${item.fechamodificacion.toLocalDate()}"></td>
                                                <td th:if="${item.fechamodificacion==null}">-</td>
                                                <td>
                                                    <button th:attr="data-id=${item.codigo}" data-toggle="modal" data-target="#editModal" class="editar-Categoria btn btn-datatable btn-icon btn-primary mr-2"><i class="fa fa-edit" ></i></button>
                                                    <button th:attr="data-id=${item.codigo}" data-toggle="modal" data-target="#deleteModal" class="delete-Categoria btn btn-datatable btn-icon btn-danger"><i class="fas fa-trash-alt"></i></button>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                    
                    
                    </div>
                    <!-- /.container-fluid -->
                
                </div>
                <!-- End of Main Content -->
                
                <div th:replace="fragments/general-gestor.html :: footer"></div>
            
            </div>
            <!-- End of Content Wrapper -->
        
        </div>
        <!-- End of Page Wrapper -->
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        
        <!-- Logout Modal-->
        <div th:replace="fragments/general-gestor.html :: logout-modal"></div>
        
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        
        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
        
        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        
        <!-- Page level plugins -->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        
        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/chart-area-demo.js}"></script>
        <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
    
        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    
        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
        <script th:src="@{/js/gestor/categoria.js}"></script>

        <!-- Modal Add-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nueva Categoría</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <form method="post" th:action="@{/gestor/categoria/save}" th:object="${categoria}">
                                <div class="form-group">
                                    <label class="col-form-label">Codigo:</label>
                                    <input type="text" class="form-control" th:field="*{codigo}" placeholder="Nombre de categoría">
                                    <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}">Error</div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-form-label">Nombre:</label>
                                    <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre de categoría">
                                    <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary"><a style="color:white;text-decoration:none">Guardar cambios</a></button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Edit-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Categoría</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/gestor/categoria/save}" th:object="${categoria}">
                            <div class="form-group">
                                <label class="col-form-label">Codigo:</label>
                                <input disabled type="text" class="form-control" th:field="*{codigo}" placeholder="Nombre de categoría">
                            </div>
                            <div class="form-group">
                                <label  class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre de categoría">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary"><a style="color:white;text-decoration:none">Guardar cambios</a></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div id="deleteModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Borrar Categoría</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                    <form method="get" th:action="@{/gestor/categoria/delete}" th:object="${categoria}">
                        <div class="modal-body">
                            <input hidden type="text" class="form-control" th:field="*{codigo}" >
                            <p>¿Seguro que desea borrar esta categoría? Esta acción no se puede deshacer.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger"><a style="color:white;text-decoration:none">Borrar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </body>
</html>