<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general-gestor.html ::gestor-head(title='Devoluciones')">
</head>
    <body id="page-top">

            <!-- Page Wrapper -->
            <div id="wrapper">

                <!-- Sidebar -->
                <div th:replace="fragments/general-gestor.html ::gestor-sidebar(param1='Devoluciones',param2='...')"></div>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <div th:replace="fragments/general-gestor.html :: topbar"></div>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                <h1 class="h3 mb-0 text-gray-900">Devoluciones</h1>
                            </div>

                            <div id="msg" th:if="${msg != null}" th:text="${msg}" class="alert alert-success py-1" role="alert"></div>
                            <div id="msgVenta" th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger py-1" role="alert"></div>

                            <!-- Database Table -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Lista de Productos Devueltos por Confirmar</h6>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Fecha de devolución</th>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Sede</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Fecha de devolución</th>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Sede</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            <tr th:each="d, index : ${devueltos}">
                                                <td th:text="${index.count}"></td>
                                                <td></td>
                                                <td th:text="${d.nombreproducto}"></td>
                                                <td th:text="${d.cantidad}"></td>
                                                <td th:text="${d.nombre} + ' ' + ${d.apellido}"></td>
                                                <td>
                                                    <button
                                                            data-toggle="modal" data-target="#formModal"
                                                            class="editar-Venta btn btn-datatable btn-icon btn-success mr-2"><i class="fas fa-check" ></i></button>
                                                    <button
                                                            data-toggle="modal" data-target="#infoModal"
                                                            class="delete-Venta btn btn-datatable btn-icon btn-danger"><i class="fas fa-phone"></i></button>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <div th:replace="fragments/general-gestor.html :: footer"></div>

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div th:replace="fragments/general-gestor.html :: logout-modal"></div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>
        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/chart-area-demo.js}"></script>
        <script th:src="@{/js/demo/chart-pie-demo.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>



        <!--Information Modal -->
        <div id="infoModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Información de la Sede</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <form method="get" th:action="@{/gestor/venta/delete}" th:object="${venta}">
                        <div class="modal-body">
                            <input type="hidden" class="form-control" id="id1" name="id1">
                            <input type="hidden" class="form-control" id="id2" name="id2">
                            <p>¿Seguro que desea borrar esta venta? Esta acción no se puede deshacer.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger"><a style="color:white;text-decoration:none">Borrar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>