<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general-gestor.html ::gestor-head(title='Inventario')">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/general-gestor.html ::gestor-sidebar(param1='Reportes',param2='...')"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/general-gestor.html :: topbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-white">Reportes - En Construcción</h1>
                </div>

                <div class="container">
                    <div class="row mt-5 col-lg-9 mx-auto">
                            <div class="col">
                                <img class="mx-auto  img-fluid d-block" th:src="@{/img/construyendo69.png}" alt="Responsive image" >
                            </div>

                            <div class="col">
                                <h4 class="text-center h4 mt-5" style="color:lightyellow;font-family: 'Calibri Light'"><strong>Pagina en construcción</strong></h4>
                                <h2 class="text-center h2 mb-5 mt-4" style="color:lightyellow;font-family: 'Calibri Light'"><strong>Asa Kaskama</strong></h2>
                                <p class="text-center" style="color:lightyellow;font-family: 'Calibri Light'"><strong>(Hasta pronto)</strong></p>
                            </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/general-gestor.html :: footer"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/general-gestor.html :: logout-modal"></div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

<script th:src="@{/js/gestor/inventario.js}"></script>

<script th:src="@{/js/gestor/extra.js}"></script>

<script th:src="@{/js/notification.js}"></script>
</body>
</html>