<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general-gestor.html ::gestor-head(title='Inventario')">
    </head>
    <body id="page-top">
        
        <!-- Page Wrapper -->
        <div id="wrapper">
            
            <!-- Sidebar -->
            <div th:replace="fragments/general-gestor.html ::gestor-sidebar(param1='Inventario',param2='...')"></div>
            <!-- End of Sidebar -->
            
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                
                <!-- Main Content -->
                <div id="content">
                    
                    <div th:replace="fragments/general-gestor.html :: topbar"></div>
                    
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-900">Inventario</h1>
                            
                            <a th:href="@{/gestor/inventario/form}" type="button" class=" d-sm-inline-block  shadow-sm btn btn-sm btn-primary"><i
                                    class="fas fa-clipboard-list fa-sm text-white-50"></i> Registra un producto en el
                                inventario</a>
                        
                        </div>
                        
                        <p class="mb-4">Aquí puedes administrar los productos del inventario. Para gestionar una
                            venta o asignar productos a una sede, revisa la lista de <a
                                    href="productosDisponibles.html">productos disponibles</a>.
                        </p>
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Productos Registrados</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Nº Pedido</th>
                                                <th rowspan="2">Código</th>
                                                <th colspan="2">Producto</th>
                                                <th colspan="5">Info del Producto</th>
                                                <th colspan="2">Costo</th>
                                                
                                                <th rowspan="2">Cantidad Total</th>
                                                
                                                <th rowspan="2">Tipo de Adquisición</th>
                                                <th rowspan="2">Fecha de inicio (consignación)</th>
                                                <th rowspan="2">Fecha de vencimiento (consignación)</th>
                                                <th rowspan="2">Facilitador</th>
                                                <th rowspan="2">Artesano</th>
                                                <th rowspan="2">Foto</th>
                                                
                                                <th rowspan="2">Fecha de registro</th>
                                                <th rowspan="2">Última modificación</th>
                                                <th rowspan="2">Edit/Delete</th>
                                            </tr>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                                
                                                <th>Linea</th>
                                                <th>Categoría</th>
                                                <th>Comunidad</th>
                                                <th>Tamaño</th>
                                                <th>Color</th>
                                                
                                                <th>Tejedor (S/.)</th>
                                                <th>Mosqoy (S/.)</th>
                                            
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nº Pedido</th>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                                <th>Linea</th>
                                                <th>Categoría</th>
                                                <th>Comunidad</th>
                                                <th>Tamaño</th>
                                                <th>Color</th>
                                                <th>Costo tejedor(S/.)</th>
                                                <th>Costo Mosqoy(S/.)</th>
                                                
                                                
                                                <th>Cantidad Total</th>
                                                
                                                <th>Tipo de Adquisición</th>
                                                <th>Fecha de inicio (consignación)</th>
                                                <th>Fecha de vencimiento (consignación)</th>
                                                <th>Facilitador</th>
                                                <th>Artesano</th>
                                                <th>Foto</th>
                                                
                                                <th>Fecha de registro</th>
                                                <th>Última modificación</th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="inv : ${listaInv}">
                                                <td th:text="${inv.numpedido}">#########</td>
                                                <td th:text="${inv.codigoinventario}">ABDCEFGHI</td>
                                                <td th:text="${inv.productos.nombre}">Lliklla</td>
                                                <td th:text="${inv.productos.descripcion}">Blanket/Manta</td>
                                                <td th:text="${inv.productos.getNombreLinea()}">Tradicional</td>
                                                <td th:text="${inv.categorias.nombre}">Home</td>
                                                <td th:text="${inv.comunidades.nombre}">Amaru</td>
                                                <td th:text="${inv.tamanho}">One-Size</td>
                                                <td th:text="${inv.color}">Rojo</td>
                                                <td th:text="${inv.costotejedor}">10</td>
                                                <td th:text="${inv.costomosqoy}">20</td>
                                                
                                                <td th:text="${inv.cantidadtotal}">25</td>
                                                
                                                <td th:text="${inv.getTipoAdquisicion()}">Consignado</td>
                                                <td th:text="${inv.fechainicioconsignacion!=null? inv.fechainicioconsignacion : '---'}">
                                                    FEB, 20
                                                </td>
                                                <td th:text="${inv.fechavencimientoconsignacion!=null? inv.fechavencimientoconsignacion : '---'}">
                                                    FEB, 20
                                                </td>
                                                <td th:text="${inv.facilitador}">Sam Sammie</td>
                                                <td th:text="${inv.artesanos!=null? inv.artesanos.nombre +' ' + inv.artesanos.apellidopaterno : '---' }">
                                                    Angela Ccana
                                                </td>
                                                <td><img
                                                        th:src="${inv.foto}"
                                                        alt="" height=100 width=100></td>
                                                
                                                <td th:text="${inv.fechacreacion}">Sam Sammie</td>
                                                <td th:text="${inv.fechamodificacion!=null? inv.fechamodificacion : '---'}">
                                                    Sam Sammie
                                                </td>
                                                <td>
                                                    <a type="button" th:href="@{'/gestor/inventario/edit?id='+${inv.codigoinventario}}"
                                                            class="btn btn-datatable btn-icon btn-primary mr-2"><i
                                                            class="fa fa-edit"></i></a>
                                                    <button data-toggle="modal" data-target="#deleteModal"
                                                            class="btn btn-datatable btn-icon btn-danger"><i
                                                            class="fas fa-trash-alt"></i></button>
                                                </td>
                                            </tr>
                                        
                                        </tbody>
                                    
                                    </table>
                                
                                
                                </div>
                            </div>
                        </div>
                    
                    
                    </div>
                    <!-- /.container-fluid -->
                
                </div>
                <!-- End of Main Content -->
                
                <div th:replace="fragments/general-gestor.html :: footer"></div>
            
            </div>
            <!-- End of Content Wrapper -->
        
        </div>
        <!-- End of Page Wrapper -->
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        
        <!-- Logout Modal-->
        <div th:replace="fragments/general-gestor.html :: logout-modal"></div>
        

        <!-- Modal Edit-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="foto" class="col-form-label">Foto:</label>
                                <input type="file" class="form-control" id="foto">
                            </div>
                            <div class="form-group">
                                <label for="costo" class="col-form-label">Costo Mosqoy:</label>
                                <input type="text" class="form-control" id="costo">
                            </div>
                            <div class="form-group">
                                <label for="facilitador" class="col-form-label">Facilitador:</label>
                                <input type="text" class="form-control" id="facilitador">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary"><a href="inventarioGestor.html"
                                                                         style="color:white;text-decoration:none">Guardar
                            cambios</a></button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal Delete -->
        <div id="deleteModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Borrar Registro</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que desea borrar este registro del inventario? Esta acción no se puede deshacer.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger"><a href="inventarioGestor.html"
                                                                        style="color:white;text-decoration:none">Borrar</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        
        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
        
        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        
        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
        
        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>


    
    </body>
</html>