<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general-gestor.html ::gestor-head(title='Perfil')">

    </head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div th:replace="fragments/general-gestor.html ::gestor-sidebar(param1='...',param2='...')"></div>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <div th:replace="fragments/general-gestor.html :: topbar"></div>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-white">Perfil del Gestor</h1>
                        </div>
                        <div id="msg" th:if="${msg != null}" th:text="${msg}" class="alert alert-success py-1" role="alert"></div>
                        <div id="msgGestor" th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger py-1" role="alert"></div>

                            <div class="col-md-9 mx-auto">

                                <!-- Profile widget -->
                                <div class="bg-white shadow rounded overflow-hidden">
                                    <div class="px-4 pt-0 pb-4 bg-gray-600">
                                        <div class="media align-items-end profile-header">
                                            <div class="profile mr-3 mt-3">
                                                <img th:if="session.usuario.foto!=''" th:src="${session.usuario.foto}"
                                                    alt="..." width="130" class="rounded mb-2 img-thumbnail">

                                                <a th:attr="data-id=${session.usuario.idusuarios}" data-toggle="modal" data-target="#formModal"
                                                   style="color: white"
                                                   class="editar-Gestor btn btn-dark btn-sm btn-block">Editar perfil</a></div>

                                            <div class="media-body mb-5 text-white">
                                                <h4 class="mt-0 mb-4" th:text="${session.usuario.getFullname()}"></h4>
                                                <p class="small mb-2"><i class="fa fa-user-circle mr-2"></i><span th:text="${session.usuario.idusuarios}"></span></p>
                                                <p class="small mb-2"><i class="fa fa-mail-bulk mr-2"></i><span th:text="${session.usuario.correo}"></span></p>
                                                <p class="small mb-2"><i class="fa fa-phone mr-2"></i><span th:text="${session.usuario.telefono}"></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <h5 class="font-weight-bold mb-0 d-block">241</h5>
                                                <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Sedes</small>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5 class="font-weight-bold mb-0 d-block">84K</h5>
                                                <small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Productos</small>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="py-4 px-4">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h5 class="mb-0">Estadísticas</h5>
                                            <!--a href="#" class="btn btn-link text-muted">Mostrar todas</a-->
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 mb-2 pr-lg-1"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/nicole-honeywill-546848-unsplash_ymprvp.jpg"
                                                    alt="" class="img-fluid rounded shadow-sm"></div>
                                            <div class="col-lg-6 mb-2 pl-lg-1"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294927/dose-juice-1184444-unsplash_bmbutn.jpg"
                                                    alt="" class="img-fluid rounded shadow-sm"></div>
                                            <div class="col-lg-6 pr-lg-1 mb-2"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294926/cody-davis-253925-unsplash_hsetv7.jpg"
                                                    alt="" class="img-fluid rounded shadow-sm"></div>
                                            <div class="col-lg-6 pl-lg-1"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/tim-foster-734470-unsplash_xqde00.jpg"
                                                    alt="" class="img-fluid rounded shadow-sm"></div>
                                        </div>
                                        <div class="py-4">
                                            <div class="d-flex align-items-center justify-content-between mb-3">
                                                <h5 class="mb-1">Quotes</h5>
                                                <!--button data-toggle="modal" data-target="#noteModal" class="btn btn-link text-muted">Modificar</button-->
                                            </div>
                                            <div class="p-4 bg-light rounded shadow-sm">
                                                <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur
                                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                    dolore magna aliqua. Ut enim ad minim veniam.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End profile widget -->
                            </div>



                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <div th:replace="fragments/general-gestor.html :: footer"></div>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div th:replace="fragments/general-gestor.html :: logout-modal"></div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/chart-area-demo.js}"></script>
        <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
        <script th:src="@{/js/gestor/perfil.js}"></script>


        <!-- Modal Form-->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="formTitle" class="modal-title">Editar Perfil</h5>
                        <button type="button" th:href="@{/gestor/perfil}" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/gestor/save}" th:object="${gestor}">
                            <input type="text" hidden class="form-control" id="idusuarios" name="idusuarios" >
                            <!--div class="form-group">
                                <label class="col-form-label">DNI:</label>
                                <input  th:readonly="${gestor.idusuarios!=0 && gestor.idusuarios!=null && !#fields.hasErrors('idusuarios')}" type="text" class="form-control" th:field="*{idusuarios}" th:value="*{idusuarios!=0}? *{idusuarios}">
                                <div class="text-danger" th:if="${#fields.hasErrors('idusuarios')}" th:errors="*{idusuarios}">Error</div>
                            </div-->
                            <div class="form-group">
                                <label class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" th:text="*{nombre}" >
                                <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Apellido:</label>
                                <input type="text" class="form-control" th:text="*{apellido}" >
                                <div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error</div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Correo:</label>
                                <input type="text" class="form-control" th:text="*{correo}" >
                                <div class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">Error</div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Teléfono:</label>
                                <input type="text" class="form-control" th:text="*{telefono}">
                                <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error</div>
                            </div>
                            <div class="form-group">
                                <label for="photo"  class="col-form-label">Foto</label>
                                <input type="file"  id="photo" name="photo">
                            </div>
                            <div class="modal-footer">
                                <a type="button" th:href="@{/gestor/perfil}"  class="btn btn-secondary" >Cancelar</a>
                                <button type="submit" class="btn btn-primary"><a id="formSavebtn" style="color:white;text-decoration:none">Actualizar</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Note-->
        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modificar Nota</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <textarea type="text" class="form-control" id="recipient-name1" placeholder="Nota...."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary"><a href="perfilGestor.html" style="color:white;text-decoration:none">Guardar cambios</a></button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>